

  .wf-board {

    background: #DDD;
    width: 600px;
    font-family: sans-serif;
    font-size: 16px;

    // no selection
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .gb-row {
      width: 100%;
      height: 28px;
      margin: 0;
      padding: 0;
    }

    .gb-row span {
      width: 30px;
      display: block;
      float: left;
      background: #CBF;
      text-align: center;
      line-height: 28px;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 600;
    }

    .gb-row span:hover {
      background: #729;
      color: #fff;
    }

  }
