/* line 3, ../sass/wordfinder.scss */
.wordfinder {
  background: #DDD;
  width: 900px;
  font-family: sans-serif;
  font-size: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 20, ../sass/wordfinder.scss */
.wordfinder .header {
  width: 600px;
  height: 30px;
  text-align: center;
  padding: 0;
  background: #fff;
}
/* line 27, ../sass/wordfinder.scss */
.wordfinder .header p, .wordfinder .header h2 {
  margin: 0;
  padding: 0;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
}
/* line 40, ../sass/wordfinder.scss */
.wordfinder .board {
  clear: both;
  float: left;
}
/* line 44, ../sass/wordfinder.scss */
.wordfinder .board .gb-row {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
}
/* line 51, ../sass/wordfinder.scss */
.wordfinder .board .gb-row span {
  width: 30px;
  display: block;
  float: left;
  background: #9BF;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}
/* line 63, ../sass/wordfinder.scss */
.wordfinder .board .gb-row span:hover {
  background: #36A;
  color: #fff;
}
/* line 69, ../sass/wordfinder.scss */
.wordfinder .board .gb-row span.found,
.wordfinder .board .gb-row span.found:hover {
  background: #FFA;
  color: #000;
}
/* line 75, ../sass/wordfinder.scss */
.wordfinder .board .gb-row span.hover,
.wordfinder .board .gb-row span.hover:hover {
  background: #FEE;
  color: #000;
}
/* line 84, ../sass/wordfinder.scss */
.wordfinder .words {
  float: left;
  width: 200px;
  background: #FFF;
  padding: 10px;
}
/* line 90, ../sass/wordfinder.scss */
.wordfinder .words li {
  margin-left: 20px;
  padding: 0;
  cursor: pointer;
}
/* line 96, ../sass/wordfinder.scss */
.wordfinder .words li.found {
  text-decoration: line-through;
  color: #888;
}
